.jumbotron-heading {

/* font-family: 'Alex Brush', cursive; */
/* font-family: 'Meddon', cursive; */

font-family: 'Meddon', cursive;
font-family: 'Playfair Display', serif;
font-family: 'PT Sans Narrow', sans-serif;

}

body {
    background-color: lightblue;
}
